@model Homework8_AssignmentTracker.Models.Assignment

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Assignment Tracker</h1>

<br />
<br />

<div class="row">
    <div class="col-lg-6 col-md-12">
        <h4>Got a new Homework Assignment?</h4>
        <br />
        <p>
            Use this page to enter information about your assignment. Add it and then we'll
            keep a track of it for you. We'll let you see your assignments by priority or due date so you'll never
            miss getting something done!<br />
            <br />
            Here's what the parts mean:<br />
            <br />
            <b>Priority </b>-- 1 is the highest priority
            <br />
            <br />
            <b>Due</b> -- due date and time (use Chrome to see a nice date/time chooser!)
            <br />
            <br />
            <b>Course</b> -- select it like this: CS 460, WR 355, ... and we can keep
            track of assignments for each department and course number
            <br />
            <br />
            <b>Title</b> -- maybe "Homework #1: HTML and CSS"
            <br />
            <br />
            <b>Notes</b> -- remind yourself what needs to be done or what's important
            to complete it; or just whatever you want to say about the assignment
            <br />
            <br />
            <b>Tags</b> -- add some tags that might act as keywords for finding ur assignments quickly
        </p>
    </div>
    <div class="col-lg-6 col-md-12 border">
        <form asp-action="TrackIt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <br />

                <center>
                    <select class="form-control btn btn-outline-dark" style="width:auto;" asp-for="AssignmentPriority" asp-items="@(new SelectList(new List<int>{ 1, 2, 3, 4, 5 }))">
                        <option>Priority</option>
                    </select>
                </center>
                <span asp-validation-for="AssignmentPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" id="datepicker" />
                <script>
                    $('#datepicker').datepicker();
                </script>
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <select asp-for="Course" asp-items="Html.GetEnumSelectList<Courses>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentTitle" class="control-label"></label>
                <input asp-for="AssignmentTitle" class="form-control" />
                <span asp-validation-for="AssignmentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentNotes" class="control-label"></label>
                <input type="text" asp-for="AssignmentNotes" class="form-control" style="height:100px" />
                <span asp-validation-for="AssignmentNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentTags" class="control-label"></label>
                <b>Seperate tags by commas ","</b>
                <div class="row" id="addedtags">
                    @if (ViewBag.TagList != null)
                    {
                        var i = 1;
                        <ul>
                            @foreach (var item in ViewBag.TagList)
                            {   
                            <li>
                                <label class="tags btn-link" name=@item.TagName style="border-radius:12px; width: 200px" value="@item.TagName">@item.TagName</label>
                                
                            </li>
                                i++;
                            }
                        </ul>                       

                    }

                </div>


                <input type="text" id="AssignmentTags" asp-for="AssignmentTags" class="form-control" style="height:100px" readonly/>
                <span asp-validation-for="AssignmentTags" class="text-danger"></span>
            </div>
            <center>
                <div class="form-group ">
                    <input type="submit" value="Track it!" style="border-radius:12px; width: 200px" class="btn btn-secondary" />
                </div>


            </center>
        </form>
        <div id="Addtags">
            Couldn't find a suitable tag name in the list? Go ahead and add it here!
            <form asp-action="AddTag">
                <p>
                    <input type="text" name="txtAddTag" class="form-control" placeholder="Enter a new tag" />
                    <br/>
                    <center>
                        <button type="submit" id="btnAddTag" value="Add" class="btn btn-outline-secondary" onclick="AddTag" >Add</button>
                    </center>
                </p>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
                window.location.href = "@Url.Action("Index", "Home")";
            };
    </script>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
